@mixin padding-footer($padding-sides:20px, $padding-tops:20px) {
<<<<<<< HEAD
    padding: $padding-sides $padding-tops;
    text-align: center;
}

@mixin footer-responsive($padding-f, $width-f) {
    padding: $padding-f;
    width: $width-f;
=======
	padding: $padding-sides $padding-tops;
	text-align: center;
}

@mixin footer-responsive($padding-f, $width-f) {
	padding: $padding-f;
	width: $width-f;
>>>>>>> 9d2a6e63cf14d922cd097642e64770e129dcd380
}