/*-- COLORES --*/
$rojo: #BA1414;
$rojo-oscuro: 811101;
$gris: #E2E6E9;
$gris-claro:#A9A2AC;
$negro: #111417;
$celeste-letras: #6878A0;
$azul: #113673;
$footer-texto:#333333;
$white: #fff;
$gris-oscuro:#1A1A1A;
/*-- TAMANIOS --*/
$tamanio-foto: 56px;
/*-- FONTS --*/
$Roboto: 'Roboto', sans-serif;
