/*-- COLORES --*/
$rojo: #BA1414;
$rojo-oscuro: 811101;
$gris: #E2E6E9;
$negro: #111417;
$celeste-letras: #6878A0;
$azul: #113673;
$negro:#000000;

/*-- TAMANIOS --*/
$tamanio-foto: 56px;

/*-- FONTS --*/
$Roboto: 'Roboto', sans-serif;
