@import "_variables";

.nav-dos {
	background-color:#E2E6E9;
	padding:0.5rem;
	span {
		display: inline-block;
		background-color:$negro;
	}
	nav {
		a{
			display: inline;
		}
	}
}

.container{
	h5{
		display: inline-block;
		color: $celeste-letras;
	}
	i{
		color: $rojo;
		font-size: 1.3em;
	}
}
.row{
	margin-bottom: 3vh;
    margin-top: 3vh;
}
.caja{
	border: solid $gris 2px;
	padding: 2vh;
	.caja-foto{
		background-color: $gris;
		padding: 2vh;
	}
}

.foto, .nombre{
	display: inline-block;
}

.foto{
	border: solid white 5px;
}
.nombre{
	padding:0vh 2vh;
}

h6:nth-child(2){
	color: $celeste-letras;
}

.btn{
	background-color: $rojo;
	color: white;
	&:hover{
		background-color: $rojo;
		color: white;
	}
}
@media (max-width: 750px) { 
	.caja{
		margin: 1vh 0vh;
	}
	.row{
		margin: 0px;
	}
}

@media (max-width: 750px) { 
	.nav-dos{
		.hidden-md-down{
			display: hidden;
		}
	}
}

@media (max-width: 640px) { 
	.nav-dos{
		.hidden-sm-down{
			display: hidden;
		}
	}
}

