@import "_variables";

.container-fluid{
	background-color: $gris;
}

.redes{
	padding-top:2vh;
	span{
		padding: 0vh 2vh;
		font-size: 0.8em;
	}
	i{
		padding: 0vh 1vh;
	}
}

.borde-rojo {
	border: solid $gris 2px;
	border-bottom: solid $rojo 4px;
	padding:2vh;
}

.domingo{
	position: relative;
    bottom: 3vh;
    background: $rojo;
    color: white;
    padding: 1vh;
}

.caja-gris-texto{
	display: inline-block;
	padding:3vh;
	border-radius: 2vh;
	border: solid $gris 2px;
}

.autor{
	position: relative;
    bottom: 2vh;
    right: 4vh;
}
.editorial{
	position: relative;
    bottom: 2vh;
    left: 2vh;
}

.nav-tabs{
	background:$rojo;
	border-radius: 1vh;
	a{
		color: white;
	}
	&:hover{
		color: $rojo;
	}
	li a.champions{
	background-color: $azul;
	color: white;
	}
}

.menu2{
	padding:0.5vh;
	border-radius:1vh;
	background-color: $gris;

	a{
		padding: 0vh 2vh;
	}
}
.container{
	h5{
		display: inline-block;
		color: $celeste-letras;
	}
	i.fa{
		color: $rojo;
		font-size: 1.3em;
	}
}
.row{
	margin-bottom: 3vh;
    margin-top: 3vh;
}
.caja{
	border: solid $gris 2px;
	padding: 2vh;
	.caja-foto{
		background-color: $gris;
		padding: 2vh;
	}
}

.foto, .nombre{
	display: inline-block;
}

.foto{
	border: solid white 5px;
}
.nombre{
	padding:0vh 2vh;
}

h6:nth-child(2){
	color: $celeste-letras;
}

.btn{
	background-color: $rojo;
	color: white;
	&:hover{
		background-color: $rojo;
		color: white;
	}
}
@media (max-width: 750px) { 
	.caja{
		margin: 1vh 0vh;
	}
	.row{
		margin: 0px;
	}
	.publicidad img{
		display: none;
	}

	.republica{
		padding: 6vh;
	}
}